<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pfm.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pfm.android.login.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:label="ZXing" />
        <activity
            android:name="pfm.android.login.NuevoUsuarioActivity"
            android:label="@string/title_activity_nuevo_usuario" >
        </activity>
        <activity
            android:name="pfm.android.producto.AddProductoActivity"
            android:label="@string/title_activity_add_producto" >
        </activity>
        <activity
            android:name="pfm.android.producto.EditProductoActivity"
            android:label="@string/title_activity_edit_producto" >
        </activity>
        <activity
            android:name="pfm.android.compras.Compras"
            android:label="@string/title_activity_carro" >
        </activity>
        <activity
            android:name="pfm.android.compras.CarrosCompras"
            android:label="@string/title_activity_carros" >
        </activity>
        <activity
            android:name="pfm.android.compras.MedioDePagoActivity"
            android:label="@string/title_activity_medio_de_pago" >
        </activity>
    </application>

</manifest>