<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pfm.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pfm.android.login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="pfm.android.login.NuevoUsuarioActivity"
            android:label="@string/title_activity_nuevo_usuario"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pfm.android.compras.AddProductoActivity"
            android:label="@string/title_activity_add_producto"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pfm.android.compras.EditProductoActivity"
            android:label="@string/title_activity_edit_producto"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pfm.android.compras.ComprasActivity"
            android:label="@string/title_activity_carro"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pfm.android.compras.CarrosComprasActivity"
            android:label="@string/title_activity_carros"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pfm.android.compras.ConfirmarComprasActivity"
            android:label="@string/title_activity_medio_de_pago"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="pfm.android.login.LogoutActivity"
            android:label="@string/title_activity_logout"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>